[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = walnascar
[submodule "meta-intel-fpga"]
	path = meta-intel-fpga
	url = https://git.yoctoproject.org/git/meta-intel-fpga
	branch = walnascar
[submodule "meta-intel-fpga-refdes"]
	path = meta-intel-fpga-refdes
	url = https://github.com/altera-opensource/meta-intel-fpga-refdes.git
	branch = walnascar
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = walnascar
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = walnascar
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://git.yoctoproject.org/git/meta-virtualization
	branch = walnascar
