[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = nanbield
[submodule "meta-intel-fpga"]
	path = meta-intel-fpga
	url = https://git.yoctoproject.org/git/meta-intel-fpga
	branch = nanbield
[submodule "meta-intel-fpga-refdes"]
	path = meta-intel-fpga-refdes
	url = https://github.com/altera-opensource/meta-intel-fpga-refdes.git
	branch = nanbield
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = nanbield
